version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "[yourPass]"
    volumes:
      - sqlserver_data:/var/opt/mssql
    restart: unless-stopped

  app:
    image: springboot-app
    container_name: springboot
    depends_on:
      - sqlserver
    env_file:
      - .env
    ports:
      - "5000:5000"
    restart: unless-stopped

volumes:
  sqlserver_data: