DB_USER=[username db]
DB_PASS=[password db]
#kalau lokal
DB_URL=jdbc:sqlserver://localhost;databaseName=Swalayan;encrypt=true;trustServerCertificate=true;
#kalau pake docker
#DB_URL=jdbc:sqlserver://sqlserver:1433;databaseName=projek_swalayan;encrypt=false